@{
    ViewData["Title"] = "Home Page";
}


<center><div class="card bg-dark text-white" style="width:900px;">
    <img src="/img/home2.png" class="card-img" alt="..." height="450px">
</div></center><br>
  