@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inmobiliaria</h1>
</div>
  
@if (!User.Identity.IsAuthenticated)
{
    await Html.RenderPartialAsync("_Login", new LoginView());
}