
@{ ViewData["Title"] = "Admin"; }

<h1>No tiene permisos para acceder a esta pagina.</h1>
<BR>
<BR>
<a href="javascript:history.back()" class="btn btn-dark"><i class="fas fa-arrow-circle-left"></i> Volver Atrás </a>